OUTPUT_DESTINATION="out" # Folder path inside the current working directory to output the packaged mod files to
OUTPUT_NAME="FS25_cropGrowthStageInfo" # Folder name in which the output will be packaged. This folder will be generated inside OUTPUT_DESTINATION
INCLUDED_FILE_PATHS="src\growthInfo.lua, src\modDesc.xml, media\icon_cropGrowthStageInfo.dds" # Files to include in the packaged output
EXPORT_DESTINATION="D:\Users\<user>\Documents\My Games\FarmingSimulator2025\mods" # Optional location to which the packaged output will be exported after packaging